header{
    text-align: center;
    background: linear-gradient(90deg, rgba(162,22,29,1) 0%, rgba(216,29,38,1) 47%, rgba(162,22,29,1) 100%);
    color: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px black;
    img{
        width: 25vw;
    }
}

main{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
    .titulo{
        text-align: center;
        margin-bottom: 50px;
    }  
    .tarea{
        width: 100%;
        margin-bottom: 20px;        
    }
    
}

footer{
    
    text-align: center;
    background: linear-gradient(90deg, rgba(162,22,29,1) 0%, rgba(216,29,38,1) 47%, rgba(162,22,29,1) 100%);
    color: white;
    bottom: 0;
    box-shadow: 0px 0px 10px 0px black;
    img{
        width: 18vw;
    }
    
}
